
 body {
  font-family: sans-serif;
}



.input-container{
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
    text-align: center;
    min-height :600px;
}

input[type='file'] {
  display: none;
}

#browse-btn {
  background: #03A595;
  color: #fff;
  min-height: 35px;
  padding: 10px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
    
  position: absolute;
  top: 50%;
  left: 46%;
  
}

.wrapper {
    text-align: center;
}


#browse-btn:hover {
  background: #4ec0b4;
}

/* #selectButton:hover{
  background: #4ec0b4;
}
#cropButton:hover{
  background: #4ec0b4;
} */

/* @media (max-width: 300px) {
  button {
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
  }
   */
  .file-info {
    display: block;
    margin: 10px 5px;
  }



.img{
    width:800px;
}

.mouse-pointer{
  background: url('./assets/icon/icons8-cursor-32.png');
  height: 32px;
  width: 32px;
  display: block;
}

.button-crop{
  background: url('./assets/icon/icons8-crop-32.png');
  height: 32px;
  width: 32px;
  display: block;
}

.button-font{
  background: url('./assets/icon/icons8-lowercase-32.png');
  height: 32px;
  width: 32px;
  display: block;
}
.color-wheel {
  background: url('./assets/icon/icons8-color-wheel-32.png');
  height: 32px;
  width: 32px;
  display: block;
}
.edit-pen {
  background: url('./assets/icon/icons8-pen-32.png');
  height: 32px;
  width: 32px;
  display: block;
}
.edit-eraser {
  background: url('./assets/icon/icons8-eraser-32.png');
  height: 32px;
  width: 32px;
  display: block;
}
.edit-layer {
  background: url('./assets/icon/icons8-layers-32.png');
  height: 32px;
  width: 32px;
  display: block;
}

.button-bucket{
  background: url('./assets/icon/icons8-paint-bucket-32.png');
  height: 32px;
  width: 32px;
  display: block;
}

#dottedSelection {
  border: 1px dotted black;
  position: absolute;
}

#chosen-value{
  display: none;
  left: 300px;
  top :100px;
}
.text-block {
  position: absolute;
  background-color:transparent;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  
}

#text-content{
  font-size: 13pt;
}
#toolbar-container{
  position: absolute;
  left: 150px;
  top: 100px;
  display: none;
}

#penSize{
  position: absolute;
  top:10px;
  margin-left: 5px;
}
#layers{
  position: absolute;
  top:10px;
  margin-left: 5px;

}

#edit-eraser{
  margin-left: 100px;
}
/* 
#dottedCrop{
  border: 5px dotted rgb(114, 24, 24);
  position: absolute;
} */